.category-container {
  position: absolute;
  width: 100%;
  /* background: linear-gradient(to bottom, rgba(238, 242, 243, 0.9), rgba(142, 54, 34, 0.9)); */
  background: linear-gradient(to bottom, rgba(238, 242, 243, 0.9), rgba(106, 147, 201, 0.9));
  padding: 10px 3px;
  
}

.category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; /* Запрещаем перенос на новую строку */
  gap: 20px; /* Отступ между элементами */
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: auto; /* Добавляем горизонтальную прокрутку если не помещается */
}

.category-item {
  display: flex;
  /* flex-direction: column;
  align-items: center;
  text-align: center; */
}

.category-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: bold;
  gap: 25px; /* Отступ между иконкой и текстом */
}

.category-icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ff7300;
}

.category-item:hover img {
  transform: scale(0.9); /* Лёгкое увеличение */
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .category-list {
    flex-direction: column;
    align-items: center;
  }
}
