/* ------------All Reviews------------ */
.reviews-container {
    margin-top: 20px;
}

.reviews-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.review-item {
    margin-bottom: 30px;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.review-header strong {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.review-item p {
    font-size: 18px;  
    line-height: 1.6;  
    color: #444;         
    margin-top: 5px;
}

.review-stars {
    font-size: 20px;
    color: #f8b400;
    margin-top: 2px;
}

/* ------------Create Review------------ */
.review-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    padding: 20px;
}
  
.dropzone {
    padding: 20px;
    border: 2px dashed #aaa;
    text-align: center;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.image-preview img {
    margin-top: 10px;
    border-radius: 8px;
}

.star-rating {
    display: flex;
    gap: 5px;
    cursor: pointer;
}
  
.star {
    font-size: 30px;
    transition: color 0.2s;
}

.star.empty {
    color: transparent;
    -webkit-text-stroke: 1px #f8b400;
}

.star.filled {
    color: #f8b400;
}

/* Центрированная, красивая кнопка */
.submit-review {
    align-self: center;
    color: white;
    background-color: #28a745;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .submit-review:hover {
    background-color: #218838;
    transform: translateY(-2px);
  }
  
  
  /* Немного увеличить input для URL */
  .review-form input[type="text"] {
    height: 30px;
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .field-error {
    color: #d34026;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: -10px;
  }
  
  .input-error {
    border: 1px solid #d34026;
    background-color: #fff1f0;
  }
  
  /* ------------Update Review------------ */
  