.login-modal-container h1 {
    text-align: center;
    margin: 10px 50px 30px;
    font-size: 30px;
    padding: 10px;
}

.login-modal-container {
    padding: 20px;
    max-width: 90%; 
    margin: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 10px;
}

.login-form h1 {
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form input {
  padding: 12px;
  border: 2px solid lightgray;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  margin-top: 4px;
}

.login-form input:focus {
  outline: none;
  box-shadow: 1px 2px 2px 2px lightgray;
}

.login-form button {
  display: flex;
  justify-content: center;
  width: 112%;
  color: #8b575c;
  background-color: #f6bdd1;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-form button:hover {
  background-color: #f6bdd1;
  transform: scale(1.02);
}

.login-form p {
  color: lightskyblue;
  font-size: 14px;
  margin-top: 4px;
}

.demo-login {
  margin-top: 10px !important;
  color: whitesmoke !important;
  background-color: #8b575c !important;  
}

.demo-login:hover {
  transform: scale(1.02);
}
