.carousel-slide-loc {
    width: 100%;
    height: 100%;
    position: relative;
  }

  
  /* Images cover full area */
  .carousel-image-loc {
    width: 100%;
    height: 45vh;
   /* object-fit: contain; */
    object-position: center;  
    object-fit: cover;
  }
  
  /* Text overlay */
  .carousel-text-loc {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* background: rgba(0, 0, 0, 0.5); */
    background: transparent; 
    padding: 15px 30px;
    border-radius: 10px;
    z-index: 10;
  }
  
  
  /* Reset content container to normal width */
  .locations-list {
    max-width: 1450px;
    margin: 40px auto 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    
  }
/* Основной контейнер с локациями */
.locations-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    max-width: 1450px;
    margin: auto;
    padding-top: 40px;
}

.special-heading{
    /* font-family: 'Rock Salt'; */
    text-align: center;
    font-size: 3rem;
    color: #d7552a;
    margin-top: -15px;
    font-family: 'Dancing Script', cursive;
}

/* Локация */
.location-item-loc {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "image header"
        "image info";
    gap: 15px;
    align-items: start;
  
    background: linear-gradient(
    to bottom,
    #ecb781, 
    #f2e3da  
  );
    border-radius: 15px;
    padding: 8px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
}

.location-item-loc:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

/* Фото в кружке */
.location-item-loc img {
    grid-area: image;
    width: 145px;
    height: 135px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
}

/* Заголовок */
.location-header {
    grid-area: header;
}

.location-header h3 {
    font-size: 2rem;
    margin-bottom: -25px;
    margin-top: 55px;
}

/* Город и рейтинг */
.location-info {
    grid-area: info;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -5px;
}

/* Город */
.location-info p {
    font-size: 1.6rem;
    color: #666;
    margin: 0;
}

/* Рейтинг */
.location-rating {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    color: #515050;
}

.location-rating .star {
    color: gold;
    margin-right: 5px;
    font-size: 2rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  
}

.pagination button {
    background: #f2e3da;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.pagination button:hover {
    background: #d28130;
    transform: scale(1.1);
}

.pagination .active {
    background: #d28130;
    color: white;
    font-weight: bold;
}
